* {
	outline: 0;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: black;
}
.best-mobile-scroller-wrapper-container {
	background: #f4f4f4;
	padding: 20px;
	margin: 50px auto;
}
.best-mobile-scroller-wrapper {
	text-align: left;
	height: 320px;
	position: relative;
}
.best-mobile-scroller-wrapper ul li {
	overflow: hidden;
	height: 320px;
}
.cip-slider,
body,
html,
ul {
	height: 100%;

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

ul li {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
ul li .notice {
	background: #f6f6f6;
	border-radius: 10px;
	white-space: normal;
	font-weight: 300;

	padding: 20px;
	width: 280px;
	max-width: 80%;
	margin: 50px auto 0 auto;
}
ul li .notice h1 {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	margin: 0 0 15px 0;
	padding: 0;
}
ul li .notice p {
	margin: 15px 0;
}
ul li .notice p a.btn {
	cursor: pointer;
	display: block;

	background: #666;
	color: white;
	text-decoration: none;

	padding: 10px;
	border-radius: 5px;
}
ul li .notice p a.btn:hover {
	background: black;
}
ul li .notice p:first-child {
	margin-top: 0;
}
ul li .notice p:last-child {
	margin-bottom: 0;
}

div.cip-slider {
	position: relative;
}
div.cip-slider .cip-slider-navigation {
	width: 100%;
	text-align: center;

	position: absolute;
	left: 0;
	bottom: 3%;
}
div.cip-slider .cip-slider-navigation .cip-slider-navigation-item {
	display: inline-block;
	width: 5px;
	height: 5px;

	border: 3px solid white;
	border-radius: 8px;

	background: #f4f4f4;
	cursor: pointer;

	margin-left: 5px;
}
div.cip-slider .cip-slider-navigation .cip-slider-navigation-item.cip-slider-navigation-item-selected,
div.cip-slider .cip-slider-navigation .cip-slider-navigation-item:hover {
	background: #444444;
}
